.App {
  height: 100vh;
  background-color: #1a202c;
  overflow: auto;
  text-align: center;
  color: white;
}

.container {
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px 0 30px;
}

.authed-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
}

.sub-text {
  font-size: 25px;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding: 0 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.connect-wallet-button {
  background: -webkit-linear-gradient(left, #60c657, #35aee2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.submit-gif-button {
  background: -webkit-linear-gradient(left, #4e44ce, #35aee2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-left: 10px;
  height: 60px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.twitter-logo {
  width: 25px;
  height: 25px;
}

.footer-text {
  color: rgb(249, 238, 217);
  font-size: 14px;
  font-weight: bold;
}

.gif-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 450px));
  grid-gap: 1.5rem;
  justify-content: center;
  align-content: center;
  margin: 0;
  padding: 0;
}

.gif-grid .gif-item {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-items: center;
  align-items: center;
}

.gif-item img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.gif-item .like-div {
  display: flex;
  justify-content: center;
  padding-right: 6px;
  border: .5px solid white;
}

.gif-item .like-div button {
  background-color: #1a202c;
  padding: 0 6px;
  margin-right: 6px;
  border: 0;
  border-right: .5px solid white;
  cursor: pointer;
}

@media (max-width: 515px) {
  .gif-item p {
    font-size: 13px;
  }

  .gif-item img {
    width: 350px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
  }
}

.connected-container input[type='text'] {
  display: inline-block;
  color: white;
  padding: 10px;
  width: 50%;
  height: 60px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  margin: 50px auto;
}